
<div class="container" style="height: 100vh;">

  <div class="d-flex" style="height: 100%;">


    <mat-card class="title-center mx-auto my-auto w-25 p-4">
      <div class="text-center mb-5">
        <mat-card-title >

              <h2>
                Login
              </h2>


        </mat-card-title>

      </div>

      <mat-card-content class="mb-3">
        <div class="mb-3">
          <strong>
            Email:
          </strong>
          <span>
            danilo@test.it
          </span>
        </div>

        <div>
          <strong>
            Password:
          </strong>
          <span>
            Password
          </span>
        </div>

      </mat-card-content>
      <mat-card-actions>
        <div class="d-flex w-100">
          <div class="m-auto">
            <button (click)="login()" mat-raised-button color="primary">Login</button>
          </div>

        </div>

      </mat-card-actions>
    </mat-card>  </div>




</div>

